<div class="container">
  <app-header>
    <button mat-stroked-button (click)="addNewTask()">+ New task</button>
  </app-header>
  <div class="task-container-container" cdkDropListGroup>
    <app-task-status-container [cdkDropListData]="taskStatus.status"  cdkDropList (cdkDropListDropped)="onDrop($event)" *ngFor="let taskStatus of groupTasks;let idx = index" [taskStatus]="taskStatus" [tasks]="getTaskByStatus(taskStatus.status)" (editTask)="editTask($event)">

    </app-task-status-container>
  </div>
</div>
<app-modal [(showModal)]="showModalState">
  <app-form [task]="taskData"></app-form>
</app-modal>
